# Email Configuration
SENDER_EMAIL=your_email@gmail.com
APP_PASSWORD=xxxx_xxxx_xxxx_xxxx

# App Settings
SECRET_KEY=your_secret_key_here
DEBUG=True

MYSQL_USER=root
MYSQL_PASSWORD=your_password
MYSQL_DB=BudgetBuddyDB
MYSQL_HOST=localhost
MYSQL_PORT=3306